<style>
  body {
  color: #5D5F63;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.sidebar-toggle {
  margin-left: -240px;
}
.sidebar {
  width: 240px;
  height: 100%;
  background: #293949;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
  margin: -2px 0 0;
  padding: 0;
}
.sidebar #leftside-navigation ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar #leftside-navigation ul li.active > a {
  color: #1abc9c;
}
.sidebar #leftside-navigation ul li.active ul {
  display: block;
}
.sidebar #leftside-navigation ul li a {
  color: #aeb2b7;
  text-decoration: none;
  display: block;
  padding: 18px 0 18px 25px;
  font-size: 12px;
  outline: 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.sidebar #leftside-navigation ul li a:hover {
  color: #1abc9c;
}
.sidebar #leftside-navigation ul li a span {
  display: inline-block;
}
.sidebar #leftside-navigation ul li a i {
  width: 20px;
}
.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
  padding-top: 3px;
}
.sidebar #leftside-navigation ul ul {
  display: none;
}
.sidebar #leftside-navigation ul ul li {
  background: #23313f;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
}
.sidebar #leftside-navigation ul ul li a {
  font-size: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #aeb2b7;
}

</style>

<style>
  .md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}
</style>
<!--admin panel-->
<div class="container-admin" style="margin-left: 240px;">
<html lang="en" ng-app="StarterApp">
  <head>
    <title>Angular Material - Tabs and Responsive</title>
  </head>
  <body layout="column" ng-controller="AppCtrl">

    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h1>Hello World</h1>
      </div>
    </md-toolbar>

    <md-content layout="row" flex>
        <md-tabs flex>
          <md-tab label="Form" flex>
            <md-content layout="row" flex style="height:100%">
              

              <div layout="column" flex id="content">
                  <md-content layout="row" flex class="md-padding" layout-wrap>

                      <div layout-padding flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25">
                        <md-input-container>
                            <label>First Name</label>
                            <input ng-model="firstName" />
                        </md-input-container>
                      </div>
                      <div layout-padding flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25">
                        <md-input-container>
                          <label>Last Name</label>
                          <input ng-model="lastName" />
                        </md-input-container>
                      </div>
                          <div layout-padding flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25">
                            <md-input-container>
                              <label>Size</label>
                              <md-select ng-model="size">
                                <md-option value="xs">Xtra Small</md-option>
                                <md-option value="s">Small</md-option>
                                <md-option value="m">Medium</md-option>
                                <md-option value="l">Large</md-option>
                                <md-option value="xl">Extra Large</md-option>
                                <md-option value="xxl">Extra Extra Large</md-option>
                              </md-select>
                            </md-input-container>
                          </div>
                          <div layout-padding flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25">
                            <md-input-container>
                              <label>Favorite Color</label>
                              <md-select ng-model="size">
                                <md-option value="r">Red</md-option>
                                <md-option value="g">Green</md-option>
                                <md-option value="b">Blue</md-option>
                                <md-option value="y">Yellow</md-option>
                                <md-option value="bl">Black</md-option>
                                <md-option value="w">White</md-option>
                              </md-select>
                            </md-input-container>
                          </div>



                    <md-content layout="column" flex="100" class="md-whiteframe-3dp">
                      <md-toolbar layout="row">
                        <div class="md-toolbar-tools">
                          <h1>Subsection 1</h1>
                          <span flex></span>
                          <md-button class="md-icon-button" aria-label="Collapse" ng-click="toggleExpansion('s1')">
                            <i class="material-icons" layout-padding>expand_less</i>
                          </md-button>
                        </div>
                      </md-toolbar>
                      <div layout="row" flex class="md-padding" layout-wrap id="s1">

                      <div layout-padding flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25">
                        <md-input-container>
                            <label>First Name</label>
                            <input ng-model="firstName" />
                        </md-input-container>
                      </div>
                      <div layout-padding flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25">
                        <md-input-container>
                          <label>Last Name</label>
                          <input ng-model="lastName" />
                        </md-input-container>
                      </div>
                          <div layout-padding flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25">
                            <md-input-container>
                              <label>Size</label>
                              <md-select ng-model="size">
                                <md-option value="xs">Xtra Small</md-option>
                                <md-option value="s">Small</md-option>
                                <md-option value="m">Medium</md-option>
                                <md-option value="l">Large</md-option>
                                <md-option value="xl">Extra Large</md-option>
                                <md-option value="xxl">Extra Extra Large</md-option>
                              </md-select>
                            </md-input-container>
                          </div>
                          <div layout-padding flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25">
                            <md-input-container>
                              <label>Favorite Color</label>
                              <md-select ng-model="size">
                                <md-option value="r">Red</md-option>
                                <md-option value="g">Green</md-option>
                                <md-option value="b">Blue</md-option>
                                <md-option value="y">Yellow</md-option>
                                <md-option value="bl">Black</md-option>
                                <md-option value="w">White</md-option>
                              </md-select>
                            </md-input-container>
                          </div>


                    <md-content layout="column" flex="100" class="md-whiteframe-3dp">
                      <md-toolbar layout="row">
                        <div class="md-toolbar-tools">
                          <h1>Nested Subsection</h1>
                        </div>
                      </md-toolbar>
                      <div layout="row" flex class="md-padding" layout-wrap>

                        <div layout-padding flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25">
                        <md-input-container>
                            <label>Work Email</label>
                            <input ng-model="workEmail" type="email" />
                        </md-input-container>
                      </div>

                      <div layout-padding flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25">
                        <md-input-container>
                            <label>Home Email</label>
                            <input ng-model="homeEmail" type="email" />
                        </md-input-container>
                      </div>
                      <div layout-padding flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25">
                        <md-input-container>
                            <label>Website</label>
                            <input ng-model="website" type="url" />
                        </md-input-container>
                      </div>

                    <div layout-padding flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25">
                      <span style="font-size: x-small; opacity: 0.3">Birthdate<br /></span>
                        <md-datepicker ng-Model="myDate" md-placeholder="Enter Date"></md-datepicker>
                    </div>


                    <div layout-padding flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25">
                      <fieldset class="standard">
                        <legend><span style="font-size: x-small; opacity: 0.6">Languages</span></legend>
                        <md-checkbox aria-label="English">English</md-checkbox>
                        <md-checkbox aria-label="Spanish">Spanish</md-checkbox>
                        <md-checkbox aria-label="Chinese">Chinese</md-checkbox>
                        <md-checkbox aria-label="French">French</md-checkbox>
                        <md-checkbox aria-label="Italian">Italian</md-checkbox>
                      </fieldset>

                    </div>

                    <div layout-padding flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25">
                      <fieldset class="standard">
                        <legend><span style="font-size: x-small; opacity: 0.6">Favorite Fruit</span></legend>
                        <md-radio-group ng-model="data.group1">
                          <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
                          <md-radio-button value="Banana"> Banana </md-radio-button>
                          <md-radio-button value="Mango">Mango</md-radio-button>
                        </md-radio-group>
                      </fieldset>
                    </div>


                      </div>
                    </md-content>

                      </div>
                    </md-content>

                  </md-content>
              </div>
              </md-content>


          </md-tab>
<!--end of first tab-->
          <md-tab label="Section 2">
            <md-content layout-padding>
              <div>
                Section 2 Content
              </div>
            </md-content>
          </md-tab>
<!--end of second tab-->
          <md-tab label="Section 3">
            <md-content layout-padding>
              <div>
                Section 3 Content
              </div>
            </md-content>
          </md-tab>
<!--end of third tab-->
        </md-tabs>


    </md-content>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
  </body>
</html>
  </div>
</div>


  <!--sidebar-->
</div>
    <aside class="sidebar" style="left: 0px; top: 0px">
      <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
          <li class="active">
            <a href=""><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
          </li>
          <li class="sub-menu">
            <a href="javascript:void(0);"><i class="fa fa-cogs"></i><span>UI Elements</span><i class="arrow fa fa-angle-right pull-right"></i></a>
            <ul>

              <li><a href="ui-alerts-notifications.html">Alerts &amp; Notifications</a>
              </li>
              <li><a href="ui-panels.html">Panels</a>
              </li>
              <li><a href="ui-buttons.html">Buttons</a>
              </li>
              <li><a href="ui-slider-progress.html">Sliders &amp; Progress</a>
              </li>
              <li><a href="ui-modals-popups.html">Modals &amp; Popups</a>
              </li>
              <li><a href="ui-icons.html">Icons</a>
              </li>
              <li><a href="ui-grid.html">Grid</a>
              </li>
              <li><a href="ui-tabs-accordions.html">Tabs &amp; Accordions</a>
              </li>
              <li><a href="ui-nestable-list.html">Nestable Lists</a>
              </li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:void(0);"><i class="fa fa-table"></i><span>Tables</span><i class="arrow fa fa-angle-right pull-right"></i></a>
            <ul>
              <li><a href="tables-basic.html">Basic Tables</a>
              </li>

              <li><a href="tables-data.html">Data Tables</a>
              </li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:void(0);"><i class="fa fa fa-tasks"></i><span>Forms</span><i class="arrow fa fa-angle-right pull-right"></i></a>
            <ul>
              <li><a href="forms-components.html">Components</a>
              </li>
              <li><a href="forms-validation.html">Validation</a>
              </li>
              <li><a href="forms-mask.html">Mask</a>
              </li>
              <li><a href="forms-wizard.html">Wizard</a>
              </li>
              <li><a href="forms-multiple-file.html">Multiple File Upload</a>
              </li>
              <li><a href="forms-wysiwyg.html">WYSIWYG Editor</a>
              </li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:void(0);"><i class="fa fa-envelope"></i><span>Mail</span><i class="arrow fa fa-angle-right pull-right"></i></a>
            <ul>
              <li> <a href="mail-inbox.html">Inbox</a>
              </li>
              <li><a href="mail-compose.html">Compose Mail</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</div>



<!--Side Bar -->
<script>
  $("#leftside-navigation .sub-menu > a").click(function(e) {
  $("#leftside-navigation ul ul").slideUp(), $(this).next().is(":visible") || $(this).next().slideDown(),
  e.stopPropagation()
})
</script>
<!--Side Bar end -->


<!--admin panel -->
<script>
  var app = angular.module('StarterApp', ['ngMaterial']);

app.controller('AppCtrl', ['$scope', '$mdSidenav', function($scope, $mdSidenav) {
  $scope.toggleSidenav = function(menuId) {
    $mdSidenav(menuId).toggle();
  };

  $scope.firstName = "Paul";

  $scope.toggleExpansion = function toggleExpansion(sectionId) {
    var sectionToToggle = $("#" + sectionId);
    if (sectionToToggle.css("display") === "none") {
      $scope.expandSection(sectionToToggle);
    } else {
      $scope.collapseSection(sectionToToggle);
    }
  };

  $scope.collapseSectionById = function collapseSectionById(sectionId) {
    var sectionToCollapse = $("#" + sectionId);
    sectionToCollapse.css("display", "none");

  };

  $scope.collapseSection = function collapseSection(section) {
    section.css("display", "none");
  }

  $scope.expandSectionById = function expandSectionById(sectionId) {
    var sectionToExpand = $("#" + sectionId);
    sectionToExpand.css("display", "inline");
  }

  $scope.expandSection = function expandSection(section) {
    section.css("display", "inline");
  }

}]);
</script>
<!--admin panel end-->