<!DOCTYPE html>
<html>
<head>
  <title>Twilio | BETA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--Installation code for private beta start-->
<script src="http://rails5-199667.nitrousapp.com/widget/widget.js" client_id="b45777955aa3796b970fa47210cf3326f7bc6f25b82b4307a43c2c91f17da162" async="async"></script>
<!--Installation code for private beta end-->

<%= yield %>





</body>
</html>